<div class="card m-2 d-inline-block" style="width: 160px; border-radius: 22px;">
    <div class="card-header bg-white text-left" style="font-size: 14px;">
        {{note.noteTitle}}
    </div>
   
        <div class="card-body text-left" style="font-size: 10px;">
            <p class=" overflow-hidden text-wrap">
                {{note.noteContent}}
            </p>
        <a href="#" class="stretched-link" (click)= "onNoteClicked()"></a>
        </div>
   
    <div class="card-footer bg-white text-left" style="font-size: 10px; ">
        {{note.noteDate}}
    </div>
</div>