<div class="container-fluid">

    <div class="row justify-content-center m-3">
        <div class="col">
            <input type="text" class=" form-control" placeholder="Title" value="{{noteToDisplay.noteTitle}}"> 
        </div>
    </div>

    <div class="row justify-content-center m-3">
        <div class="col">
            <textarea class="form-control" rows="10" placeholder="Content" >{{noteToDisplay.noteContent}}</textarea>
        </div>
    </div>
    <div class="row justify-content-center m-3">
        <div class="col">    
            <div class="btn-group" role="group">
                <button class="btn btn-secondary">Back</button>
                <button class="btn btn-danger">Delete</button>
                <button class="btn btn-success">Done</button>
            </div>
            
        </div>
    </div>


</div>
